html, body {
    margin: 1rem;
}
body {
    background-color: #ffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1400px;
    display: flex;
    margin: 1rem;
    background-color: #FBE3E3;
    text-align: justify;
    
}

.menu {
    width: 20%;
    background-color:  #F6C8C7;
    padding: 50px 50px 0px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.main {
    display: flex;
    flex-flow: column;
    width: 95%;
    border-radius: 1rem;
}

.header {
    background-color: #FBE3E3;
    min-height: 90px;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
}

.content{
    margin: 1rem;
    text-align: justify;
    font-size: 25px;
}

.content .element{
    text-align: justify;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    font-size: 18px;
}

.content .title{
    color: #7a7a7a;
    text-align: justify;
    font-size: 30px;
}
.footer{
    margin: 1rem;
}

.contato{
    text-align: left;
}

.iframe{
    text-align: center;
}
/*




*/